html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  #arjan-btn {
    background-color: purple;
    text-decoration: none;
    color: white;
    border-radius: .25rem;
    text-align: center;
    display: inline-block;
    transition: all .3s;
    padding: 9px 14px;
    margin-top: .75rem;
    font-size: 1.3rem;
  }
  
  a:hover {
    opacity: .6;
  }


/* NAVBAR */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}



  .img-header{
    width: 100%;
    padding: 1rem;
    max-width: 350px;
    justify-self: center;
  }
  
  .bg-header {
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1532043772213-09a6cec77cfa?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
      background-size: cover;
      padding: 3rem 0rem;
  }
 
}
.align-top{
justify-content: space-around;
}

.icons{
padding: 1rem 0rem;
width: 100%;  
justify-self: center;
text-align: center;
max-width: 250px;
justify-content: space-around;
}

.text-header{
    text-align: center;
    height: auto;
    color: #ffffff;
    background-color: rgb(160, 0, 209, .3);
    padding: 1rem;
  }
  
  .button {
    padding: 10px 16px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #cccccc;
  }
  
  .thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .image--center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .image--circle {
    border-radius: 50%;
  }
  
  .footer {
    height: 50px;
    background-color: #404040;
    margin-top: 30px;
  }
  

.text-header > h1 {
    font-size: 3rem;
    margin: 0;
}

.text-header > p {
    font-size: 1.5rem;
    font-weight: 200;
}

  /* GRID */
  
  /* CONTAINER */
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
    .img-header{
        order: 1;
  }
  .text-header{
      order: 0;
      text-align: left;
  }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  
  
  /* ROW */
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    align-items: center;
    height: auto;
    transition: all 1s;

  }
  
  
  .col-xs-12 {
    grid-column: span 12
  }
  
  .col-xs-11 {
    grid-column: span 11;
  }
  
  .col-xs-10 {
    grid-column: span 10
  }
  
  .col-xs-9 {
    grid-column: span 9
  }
  
  .col-xs-8 {
    grid-column: span 8
  }
  
  .col-xs-7 {
    grid-column: span 7
  }
  
  .col-xs-6 {
    grid-column: span 6
  }
  
  .col-xs-5 {
    grid-column: span 5
  }
  
  .col-xs-4 {
    grid-column: span 4
  }
  
  .col-xs-3 {
    grid-column: span 3
  }
  
  .col-xs-2 {
    grid-column: span 2
  }
  
  .col-xs-1 {
    grid-column: span 1
  }
  
  @media (min-width: 768px) {
    .col-sm-12 {
      grid-column: span 12
    }
  
    .col-sm-11 {
      grid-column: span 11;
    }
  
    .col-sm-10 {
      grid-column: span 10
    }
  
    .col-sm-9 {
      grid-column: span 9
    }
  
    .col-sm-8 {
      grid-column: span 8
    }
  
    .col-sm-7 {
      grid-column: span 7
    }
  
    .col-sm-6 {
      grid-column: span 6
    }
  
    .col-sm-5 {
      grid-column: span 5
    }
  
    .col-sm-4 {
      grid-column: span 4
    }
  
    .col-sm-3 {
      grid-column: span 3
    }
  
    .col-sm-2 {
      grid-column: span 2
    }
  
    .col-sm-1 {
      grid-column: span 1
    }
  }
  
  @media (min-width: 992px) {
    .col-md-12 {
      grid-column: span 12
    }
  
    .col-md-11 {
      grid-column: span 11;
    }
  
    .col-md-10 {
      grid-column: span 10
    }
  
    .col-md-9 {
      grid-column: span 9
    }
  
    .col-md-8 {
      grid-column: span 8
    }
  
    .col-md-7 {
      grid-column: span 7
    }
  
    .col-md-6 {
      grid-column: span 6
    }
  
    .col-md-5 {
      grid-column: span 5
    }
  
    .col-md-4 {
      grid-column: span 4
    }
  
    .col-md-3 {
      grid-column: span 3
    }
  
    .col-md-2 {
      grid-column: span 2
    }
  
    .col-md-1 {
      grid-column: span 1
    }
  }
  
  @media (min-width: 1200px) {
    .col-lg-12 {
      grid-column: span 12
    }
  
    .col-lg-11 {
      grid-column: span 11;
    }
  
    .col-lg-10 {
      grid-column: span 10
    }
  
    .col-lg-9 {
      grid-column: span 9
    }
  
    .col-lg-8 {
      grid-column: span 8
    }
  
    .col-lg-7 {
      grid-column: span 7
    }
  
    .col-lg-6 {
      grid-column: span 6
    }
  
    .col-lg-5 {
      grid-column: span 5
    }
  
    .col-lg-4 {
      grid-column: span 4
    }
  
    .col-lg-3 {
      grid-column: span 3
    }
  
    .col-lg-2 {
      grid-column: span 2
    }
  
    .col-lg-1 {
      grid-column: span 1
    }
  }
  